.corousel-heading-container{
    text-align: center;
}

.corousel-heading{
    color: #f26321;
    font-size: var(--text-xxl);
}

.center-heading{
    text-align: center;
}

.grid-sizer,
.gutter-sizer {
    width: calc(2% - 10px); 
}

@media screen and (max-width: 768px) {
    .grid-sizer,
    .gutter-sizer {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 768px) {
    .img-slide {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .big-screen {
        display: none;
    }
}

.mobile-icon {
    display: none;
}

.mobile-flex {
    align-items: center;
}

.title-class {
    font-size: 40px;
    font-style: italic;
}

@media (max-width: 1250px) {
    .mobile-icon {
        display: block; 
    }
    .image-mobile {
        height: 40Vh;
    }
    .title-class {
    font-size: xx-large;
    font-style: italic;
}
.modal-popup img {
    height: 40Vh;
}
}

.tech-cloves-colour{
    color: #f26351;
}