.corousel-heading-container{
    text-align: center;
}

.corousel-heading{
    color: #f26321;
}

.center-heading{
    text-align: center;
}

.grid-sizer,
.gutter-sizer {
    width: calc(2% - 10px); /* Adjust width based on your design and gutter size */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .grid-sizer,
    .gutter-sizer {
        width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .img-slide {
        display: none; /* Hide the background image div */
    }
}